body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

input:focus,
select:focus,
button:focus {
  box-shadow: none !important;
  border-color: forestgreen !important;
}

input[type="checkbox"] {
  border-color: forestgreen !important;
}

input[type="checkbox"]:checked {
  background-color: forestgreen !important;
}

table {
  width: 100%;
}

thead tr th {
  text-align: center;
  font-weight: normal;
}

table tr {
  cursor: default;
}

table tr td:first-child {
  max-width: 5rem;
  overflow: hidden;
}

form {
  height: 18rem;
}

.table-wrapper {
  max-height: 24rem;
  overflow-y: scroll;
}
